<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password email</title>
  </head>
  <body>
    <h1 style="color: rgb(194, 0, 0)">Hello, {{name}}!</h1>
    <p>Click <a href="{{resetLink}}">here</a> to reset your password!</p>
    <br />
    <p>P.S. You'll never walk alone.</p>
  </body>
</html>

<!-- фишка шаблонизатоа handlebars = `двойные фигур скобки` ==> можно использовать переменные из др фийлов. Пример - authServices.js/requestResetToken -->
